@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url(./variables.css);

@import url(./components/header/header.css);
@import url(./components/header/search.css);
@import url(./components/header/header-actions.css);

@import url(./components/sidebar/sidebar.css);
@import url(./components/sidebar/sidebar__logo.css);
@import url(./components/sidebar/sidebar__nav.css);
@import url(./components/sidebar/sidebar__collections.css);
@import url(./components/sidebar/sidebar__theme-btn.css);
@import url(./components/sidebar/sidebar__profile.css);

body {
    font-family: 'Inter', serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.app-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr 350px;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main widget-panel"
    "sidebar main widget-panel";
}

header {
    grid-area: header;
    /* background-color: #ff0000; */
}

.sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
    /* background-color: #131878; */
}

.widget-panel {
    /* background-color: #00ff26; */
    grid-area: widget-panel;
}

.divider {
    margin: 15px auto;
    width: 80%;
    height: 1px;
    opacity: 10%;
    background-color: #fff;
}