@use '../../variables' as *;
@use '../../mixins' as *;

.footer {
    padding: 50px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__navigation {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 10px;
    }

    &__brand-description {
        color: var(--color-subtext);
        font-size: $font-base;
        margin-bottom: 50px;
    }

    &__legal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include small-desktop {
            flex-direction: row;
            width: 100%;
        }

        &-info {
            text-align: center;
        }
    }

    &__language {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-title {
            display: flex;
            gap: 5px;
            align-items: center;
            svg {
                width: 25px;
                color: var(--color-element-active);
            }
        }

        select option {
                color: var(--color-black);
            }
    }

    &__title {
        color: var(--color-element-active);
        margin-bottom: 10px;
        font-size: $font-md;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item {
        font-size: $font-base;
    }

    &__link-item {
        position: relative;
        &:after {
            position: absolute;
            width: 0%;
            content: '';
            height: 1.5px;
            background-color: var(--color-element-active);
            bottom: -2px;
            left: 0;

            transition: width .2s ease-in-out;
        }

        &:hover:after {
            width: 100%;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 20px;
        margin-bottom: 50px;

        svg {
            width: 40px;
            transition: color .1s ease-in;
            &:hover {
                color: var(--color-element-active);
            }
        }
    }
}