.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sidebar__item {
    padding: 5px 10px;
}

.sidebar__item.active {
    background-color: var(--color-bg-active);
    border-radius: 10px;
}

.sidebar__item.active .sidebar__link  {
    color: var(--color-element-active);
}

.sidebar__link {
    font-size: 14px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 12px;
}

.sidebar__link svg {
    width: 25px;
    height: 25px;
}