.profile {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1D222D;
}

.profile__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.profile__info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 5px;
    font-size: 13px;
}

.profile__email {
    color: var(--color-subtext);
}

.profile__settings-btn {
    margin-left: 30px;
}