@use '../../mixins' as *;
@use '../../variables' as *;

.profile {
    width: calc(100% + 30px); // компенсируем padding: 15px с каждой стороны
    margin-top: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 20px;       // внутренний отступ уже внутри блока
    @include flex-center;
    gap: 10px;
    background-color: var(--color-bg3);

    @include large-desktop {
        padding: 15px 20px;
        justify-content: space-between;
    }

    &__avatar {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 13px;

        @include large-desktop {
            font-size: 15px;
        }
    }

    &__email {
        font-size: $font-xs;
        color: var(--color-subtext);
        word-break: break-all;

        @include large-desktop {
            display: none;
        }
    }

    &__settings-btn {
        @include large-desktop {
            flex-shrink: 0;
        }
    }
}