@use '../../mixins' as *;
@use '../../variables' as *;

.sidebar {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 0;
    background-color: var(--color-bg2);

    @include large-desktop {
        display: none;
        overflow: hidden;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__item {
        padding: 5px 10px;

        &.active {
            background-color: var(--color-bg-active);
            border-radius: $radius-md;

            & .sidebar__link  {
                color: var(--color-element-active);
            }
        }
    }

    &__link {
        font-size: $font-base;
        color: var(--color-text);
        display: flex;
        align-items: center;
        gap: 12px;

        & svg {
            width: 25px;
            height: 25px;
        }
    }

    &__theme-btn {
        margin-top: 15px;
        @include flex-center;
        align-self: center;
        gap: 10px;
        background-color: var(--color-bg3);
        padding: 10px 20px;
        border-radius: $radius-md;
        width: 90%;
        font-size: $font-base;

        & svg {
            width: 25px;
            height: 25px;
        }
    }
}