@use '../../mixins' as *;
@use '../../variables' as *;

.film-selection {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    gap: 15px;
    margin-bottom: 15px;

    @include large-phone { 
        margin-top: 40px;
    }

    @include medium-phone {
        margin-top: 0px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        &-cards {
            display: flex;
            gap: 20px;
            max-width: 100%;
            flex-wrap: wrap;
            @include medium-phone {
                justify-content: center;
            }

            &__img {
                width: 100px;
            }
        }
    }
}


.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title-box {
        @include flex-center;
        gap: 5px;

        &:hover {
            color: var(--color-element-active);
        }

        & svg {
            height: 15px;
        }
    }

    &__btn-view-all {
        position: relative;
        font-size: $font-base;
        text-align: center;
        &, &:link, &:visited {
            color: var(--color-element-active);
        }

        &:after {
            position: absolute;
            width: 0%;
            content: '';
            height: 1.5px;
            background-color: var(--color-element-active);
            bottom: -2px;
            left: 0;

            transition: width .2s ease-in-out;
        }

        &:hover:after {
            width: 100%;
        }
    }
}
