@use '../../mixins' as *;

.film-selection {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    gap: 15px;
    margin-bottom: 15px;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        &-cards {
            display: flex;
            gap: 20px;
        }
    }
}


.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title-box {
        @include flex-center;
        gap: 5px;

        & svg {
            height: 15px;
        }
    }

    &__btn-view-all {
        font-size: 14px;
        color: var(--color-element-active);
    }
}
