@use '../../mixins' as *;
@use '../../variables' as *;

.hero {
    position: relative;
    max-width: 60vw;
    @include large-desktop {
        min-width: 70vw;
    }
    @include small-desktop {
        min-width: 100%;
        max-height: 400px;
    }

    &__slider-track {
        width: 100%;
        display: flex;
        overflow: hidden;
        scrollbar-width: none;
        border-radius: $radius-md;
        max-height: 400px;
        scroll-snap-type: x mandatory;
    }

    &__slide {
        flex: 0 0 100%;    /* Запрещает сжатие и задает ширину ровно 100% от трека */
        scroll-snap-align: center; 
        width: 100%;
        max-height: 400px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 40px 30px 25px;
        color: var(--color-subtext);
        border-radius: $radius-md;
    }

    &__badge {
        font-size: $font-sm;
        text-transform: uppercase;
        color: var(--color-element-active);
    }

    &__title {
        color: var(--color-text);
        font-size: $font-xl;
        font-weight: 600;
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 18px;
        font-size: $font-base;
    }

    &__description {
        font-size: $font-base;
        width: 45%;

        @include medium-phone {
            display: none;
            visibility: hidden;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__btn {
        margin-top: 5px;
        @include flex-center;
        padding: 10px 15px;
        border-radius: $radius-md;
        color: var(--color-text);
        font-size: $font-base;
        gap: 5px;
        transition: transform .2s ease;

        &:hover {
            transform: translateY(-3px);
        }

        &--explore {
            background-color: var(--color-element-active);
        }

        &--watchlist {
            background-color: var(--color-bg3);
        }
    }

    &__pagination {
        position: absolute;
        bottom: 25px;
        right: 30px;
        display: flex;
        align-items: center;
        gap: 10px;

        @include large-phone {
            display: none;
            visibility: hidden;
        }

        &.pagination-small-screen {
            display: flex;
            align-items: center;
            justify-content: center;
            position: static;
            display: none;
            visibility: hidden;
            margin-top: 20px;

            @include large-phone {
                display: flex;
                visibility: visible;
                gap: 15px;
            }
        }
    }

    &__dot {
        width: 12px;
        height: 6px;
        background-color: var(--color-text);
        border-radius: $radius-md;
        transition: width .25s ease;

        @include large-phone {
            background-color: var(--color-bg3);
            color: var(--color-element-active);
            width: 35px;
            height: 35px;
        }

        &--active {
            background-color: var(--color-element-active);
            width: 18px;

            @include large-phone {
                color: var(--color-white);
                width: 45px;
                height: 35px;
            }
        }
    }
}