@use '../../mixins' as *;

.hero {
    position: relative;
    &__slide {
        width: 100%;
        background-image: linear-gradient(to right, #0b0f19 0%, transparent 80%, #0b0f19 35%, transparent 65%),
                        url('../img/slide__duna-bg.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 40px 30px 25px;
        color: var(--color-subtext);
        border-radius: 10px;
    }

    &__badge {
        font-size: 12px;
        text-transform: uppercase;
        color: #4242A8;
    }

    &__title {
        color: var(--color-text);
        font-size: 32px;
        font-weight: 600;
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 18px;
        font-size: 14px;
    }

    &__age-limit {
        padding: 6px;
        background-color: var(--color-bg2);
        border-radius: 10px;
    }

    &__description {
        font-size: 14px;
        width: 45%;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__btn {
        margin-top: 5px;
        @include flex-center;
        padding: 10px 15px;
        border-radius: 10px;
        color: var(--color-text);
        font-size: 14px;
        gap: 5px;

        &--play {
            background-color: var(--color-element-active);
        }

        &--watchlist {
            background-color: var(--color-bg3);
        }
    }

    &__pagination {
        position: absolute;
        bottom: 25px;
        right: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__dot {
        width: 12px;
        height: 6px;
        background-color: #fff;
        border-radius: 10px;

        &--active {
            background-color: var(--color-element-active);
            width: 18px;
        }
    }
}