@use '../../mixins' as *;
@use '../../variables' as *;

.hero {
    position: relative;
    &__slide {
        width: 100%;
        background-image: linear-gradient(to right, 
                    #0b0f19 0%, 
                    transparent 80%),
                    url('../img/slide__duna-bg.png');

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 40px 30px 25px;
        color: var(--color-subtext);
        border-radius: $radius-md;
    }

    &__badge {
        font-size: $font-sm;
        text-transform: uppercase;
        color: var(--color-element-active);
    }

    &__title {
        color: var(--color-text);
        font-size: $font-xl;
        font-weight: 600;
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 18px;
        font-size: $font-base;
    }

    &__age-limit {
        padding: 6px;
        background-color: var(--color-bg2);
        border-radius: $radius-md;
    }

    &__description {
        font-size: $font-base;
        width: 45%;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__btn {
        margin-top: 5px;
        @include flex-center;
        padding: 10px 15px;
        border-radius: $radius-md;
        color: var(--color-text);
        font-size: $font-base;
        gap: 5px;
        transition: transform .2s ease;

        &:hover {
            transform: translateY(-3px);
        }

        &--play {
            background-color: var(--color-element-active);
        }

        &--watchlist {
            background-color: var(--color-bg3);
        }
    }

    &__pagination {
        position: absolute;
        bottom: 25px;
        right: 30px;
        display: flex;
        align-items: center;
        gap: 10px;

        @include large-phone {
            display: none;
            overflow: hidden;
        }
    }

    &__dot {
        width: 12px;
        height: 6px;
        background-color: var(--color-text);
        border-radius: $radius-md;

        &--active {
            background-color: var(--color-element-active);
            width: 18px;
        }
    }
}