.hero {
    &__pagination {
        position: absolute;
        bottom: 25px;
        right: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__dot {
        cursor: pointer;
        width: 12px;
        height: 6px;
        background-color: #fff;
        border-radius: 10px;

        &--active {
            background-color: var(--color-element-active);
            width: 18px;
        }
    }
}