@use '../../mixins' as *;

.header-actions {
    @include flex-center;
    gap: 30px;

    @include large-phone {
        gap: 15px;
    }

    &__notifications {
        @include flex-center;
    }

    &__settings {
        @include flex-center;
        gap: 8px;

        &-arrow {
            @include small-desktop {
                display: none;
                overflow: hidden;
            }
        }
    }
}