@use '../../mixins' as *;

.search {
    position: relative;
    width: 100%;
    max-width: 400px;

    &__input {
        background-color: var(--color-bg2);
        padding: 12px 45px;
        border-radius: 8px;
        width: 100%;

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        left: 15px;
        top: 50%; // элемент опускается так, что его верхний край находится посередине родителя.
        transform: translateY(-50%); // сдвигает сам элемент вверх на половину его собственной высоты.
        pointer-events: none;      /* Чтобы клик проходил сквозь иконку в инпут */
    }

    &__btn {
        position: absolute;
        // второй вариант отцентрировать элемент ->
        top: 0;
        bottom: 0;
        margin: auto 0; 
        right: 15px;
        @include flex-center;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;

    clip-path: inset(50%);
    white-space: nowrap;
}