@use 'variables' as *;
@use 'mixins' as *;

html[data-theme = 'light'] {
    .hero {
        &__title {
            color: var(--color-white);
        }

        &__slide {
            color: var(--color-subtext-hero);
        }

        &__btn--explore {
            color: var(--color-white);
        }

        &__dot {
            background-color: var(--color-bg3);

            &--active {
                background-color: var(--color-element-active);
                width: 18px;

                @include large-phone {
                    width: 45px;
                }
            }
        }

        & .rating {
            font-weight: 400;
            background: none;
            &__value {
                color: var(--color-subtext-hero);
            }
        }
    }

    .rating {
        background-color: #d1cece;
        font-weight: 700;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1.4fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main widget-panel";
    @include large-desktop {
        grid-template-columns: 4fr 1.4fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: 
        "header header"
        "main widget-panel";
    }

    @include small-desktop {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: 
        "header"
        "main";
    }
}

.header {
    grid-area: header;
    /* background-color: #ff0000; */
}

.sidebar {
    grid-area: sidebar;
}

main {
    grid-area: main;
    // background-color: #131878;
}

.widget-panel {
    // background-color: #00ff26;
    grid-area: widget-panel;
}

.divider {
    margin: 15px auto;
    width: 80%;
    height: 1px;
    opacity: .1;
    background-color: var(--color-text);
}