:root {
    --color-bg: #090E17;
    --color-text: #fff;
    --color-subtext: #BDC4D0;
    --color-bg2: #181C27;
    --color-bg-active: #232347;
    --color-element-active: #8370F0;
    --color-bg3: #1D222D;
    --color-black: #000;

    &[data-theme="light"] {
        --color-bg: #F0F2F8;
        --color-text: #0D1117;
        --color-subtext: #5C6880;
        --color-bg2: #E4E7F2;
        --color-bg-active: #bfb6ff;
        --color-element-active: #563ade;
        --color-bg3: #ffffff;
        --color-black: #000;
        --color-white: #fff;

        --color-subtext-hero: #BDC4D0;
    }
}


$radius-sm: 8px;
$radius-md: 10px;
$radius-lg: 15px;

$font-xs:  11px;
$font-sm:  12px;
$font-base: 14px;
$font-md:  18px;
$font-lg:  24px;
$font-xl:  32px;


$bp-large-desktop: 1400px;
$bp-small-desktop: 1150px;
$bp-very-small-desktop: 850px;
$bp-large-phone: 760px;
$bp-medium-phone: 595px;