:root {
    --color-bg: #090E17;
    --color-text: #fff;
    --color-subtext: #BDC4D0;
    --color-bg2: #181C27;
    --color-bg-active: #232347;
    --color-element-active: #8370F0;
    --color-bg3: #1D222D;;
}